 {% extends 'base.html.twig' %}

 {% block title voiture.intitule %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <h1>{{ voiture.intitule }}</h1>
                    <h3>Statut : {{ voiture.etat }}</h3>
                    <a href="#" class="btn btn-primary"> Louer</a>
                </div>
            </div>
        </div>
    </div>
<div class="container mt-4">


    <div class="row">
        <div class="col-md-8">
            <h2>Caractéristiques</h2>
            <table class="table table-striped">
                <tr>
                    <td>Constructeur</td>
                    <td>{{ voiture.constructeur }}</td>
                </tr>
                <tr>
                    <td>Moteur</td>
                    <td>{{ voiture.moteurType }}</td>
                </tr>
                <tr>
                    <td>Boite de vitesse</td>
                    <td>{{ voiture.vitesseType }}</td>
                </tr>


            </table>
        </div>

        <div class="col-md-4">
            <img src="{{ asset(voiture.photo) }}" class="card-img-top" alt="...">
        </div>

    </div>
</div>
{% endblock %}



